<div class="album py-5 bg-light">
    <!-- Bootstrapのグリッドシステムを適用 -->  
      <div class="container">
        <!-- 行要素を配置 -->
          <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
            {% for record in object_list %}
            <!-- 列要素を配置 -->
              <div class="col-sm-6">
                <div class="card">
                  <div class="card-body">
                    <h5 class="card-title">{{ record.name }}</h5>
                    <p class="card-text">{{ record.collabat }}</p>
                    <div class="btn-group">
                      <!-- 詳細ページを表示するボタン -->
                      <!-- リンク先のURL: person_detail/ -->
                      <button type="button" class="btn btn-sm btn-outline-secondary" >
                        <a href='{% url 'hrdb:myperson_detail' record.pk %}' style="text-decoration:none;" >見る</a>
                      </button>
                      <!-- 職種ページを表示するボタン -->
                      <!-- リンク先のURL: person_occupation/ -->
                      <button type="button" class="btn btn-sm btn-outline-secondary" >
                        <a href='{% url 'hrdb:person_occupation' occupation=record.occupation.id %}' style="text-decoration:none;">{{ record.occupation.name }}</a>
                      </button>
                      <!-- 肩書別ページを表示するボタン -->
                      <!-- リンク先のURL: person_title/ -->
                      <button type="button" class="btn btn-sm btn-outline-secondary" >
                        <a href='{% url 'hrdb:person_title' title=record.title.id %}' style="text-decoration:none;">{{ record.title.name }}</a>
                      </button>
                      <!-- 所属ページを表示するボタン -->
                      <!-- リンク先のURL: person_org/ -->
                      <button type="button" class="btn btn-sm btn-outline-secondary" >
                        <a href='{% url 'hrdb:person_org' org=record.org.id %}' style="text-decoration:none;">{{ record.org.name }}</a>
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            <!-- 列要素はここまで -->
            {% endfor %}
          </div>
        <!-- 行要素はここまで -->
      </div>
    <!-- グリッドシステムはここまで -->  
  </div>